@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&display=swap');
{
    font-family: 'Montserrat', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
    color: #2c3e50;
    background-color: #a1c7e9;
  }
  nav{
    background: #2c3e50;
    height: 80px;
    width: 100%;
  }
  label.logo{
    font-family: 'Lucida Handwriting';
    color: goldenrod;
    font-size: 22px;
    line-height: 80px;
    padding: 0 35px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: goldenrod;
    font-size: 14px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;

  }
  a.active,a:hover{
    background: #5d768f;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: goldenrod;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 280px){
    label.logo{
      font-size: 6px;
      padding-left: 4px;
    }
  }
  @media (max-width: 320px){
    label.logo{
      font-size: 17px;
      padding-left: 20px;
    }
  }
  @media (max-width: 480px){
    label.logo{
      font-size: 18px;
       padding-left: 23px;
     }
  }
    nav ul li a{
      font-size: 16px;
    }
  @media (max-width: 1080px){
    label.logo{
      font-size: 20px;
      padding-left: 25px;
      }
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #5d768f;
      left: -100%;
      top: 80px;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: goldenrod;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  section{
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
  }
  body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: auto;
    background-color: #2c3e50;
    color: goldenrod;
}
td{
  color: goldenrod;
}
form {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
h3 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .gallery img {
    width: 30%;
    height: auto;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  @media (max-width: 600px) {
    .gallery img {
      width: 100%;
    }
  }
  .menu {
    width: 500px;
    margin: 0 auto;
  }
  
  h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
  }
  
  h3 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 18px;
    margin: 0;
    width: 60%;
  }
.menu img{
    width: 50%;
    height: auto;
    margin: 20px;
}
.home-page {
    display: flex;
    height: 100vh;
  }
  
  .left-side {
    width: 50%;
    height: 100%;
    background-color: #a1c7e9;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .left-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .right-side {
    width: 50%;
    padding: 20px;
    background-color: #a1c7e9;
  }